body {
    background-color: #f9f9f9;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.past_event_container {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px;
}

.past_event_container div:first-child {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.event_details {
    display:flex;
    justify-content: space-between;
    align-items: bottom;

    background-color: aqua;
    margin-top: 30px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}